@model FHIR_UI.Models.ResourceTypesModel
@{
    ViewData["Title"] = "Home Page";

}
<div class="panel">
    <div class="panel-heading">
        <h3> Просмотр списка ресурсов </h3>
        @Html.ActionLink("Создать новый ресурс", "Create", "FhirResource", null, new { @class = "btn btn-primary btn-lg" })
    </div>
    <div class="panel-body row">
        <div id="resource-list" class="col-md-4">
            @Html.Partial("ResourceLIst", Model);
        </div>

        <div id="editor" class="well col-md-8" style="display: none">
            viewer editor
        </div>
    </div>
</div>