@model FHIR_UI.Models.ResourceTypesModel
@{
    ViewData["Title"] = "Home Page";

}
<div class="panel">
    <div class="panel-heading">
        <h3> Просмотр списка ресурсов </h3>
        <a href="../FhirResource/Create" class="btn btn-primary btn-lg" role="button"
           style="margin-bottom: 10px;">Создать новый ресурс</a>
    </div>
    <div class="panel-body row">
        <div id="resource-list" class="col-md-4">
            @Html.Partial("ResourceLIst", Model);
        </div>

        <div id="editor" class="well col-md-8" style="display: none">
            viewer editor
        </div>
    </div>
</div>