﻿@using FHIR_UI.Models
@model FHIR_UI.Models.JsonTextModel
@{
    ViewData["Title"] = "Json";
}
<h2>JSON file</h2>

<div class="panel">
    <div class="panel-heading">
        <h3> Создание ресурса </h3>
    </div>
    @using (Html.BeginForm())
            {
        <div class="panel-body input-group">
            @Html.TextAreaFor(m => m.JsonText_, new { @class = "form-control", rows = 15, cols=1000, type = "text" })
        </div>
            <div class="panel-footer">
                <input type="submit" value="Create" class="btn btn-primary" />
                @Html.ActionLink("Cancel", "Index", "Home", new { @class = "btn btn-default" })
            </div>
    }
</div>
