﻿@using FHIR_UI.Models
@model FHIR_UI.Models.JsonTextModel
@{
    ViewData["Title"] = "Json";
}
<h2>JSON file</h2>

<body>
    <div>
        @{
            <p>Status: @Model.Status_</p>
            <form action="textarea1.php" method="post">
                <p><b>Create JSON file here:</b></p>
                <textarea rows="30" cols="100">@Model.JsonText_</textarea>
                <p><input type="submit" value="Save"></p>
            </form>
            
            <form action="~/search" method="post">
                <fieldset>

                    @Html.LabelFor(m => m.JsonText_)
                    @Html.EditorFor(m => m.JsonText_)
                </fieldset>
                <input type="submit" value="Show" uiactions="" />
            </form>
        }
    </div>
</body>