﻿@using FHIR_UI.Models
@model FHIR_UI.Models.JsonTextModel
@{
    ViewData["Title"] = "Json";
}
<h2>JSON file</h2>

<body>
    <div class="panel" >
        <div class="panel-heading">
            <h3> Редактирование ресурса </h3>
        </div>
        
        @using (Html.BeginForm()) {
            <div class="panel-body">
                @Html.HiddenFor(m => m.ResId_)
                @Html.HiddenFor(m => m.ResType_)
                @Html.TextAreaFor(m=>m.JsonText_, 30, 150, new {@class="form-control"})
            </div>
            <div class="panel-footer">
                <input type="submit" value="Update" class="btn btn-primary" />
                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
            </div>
        }
    </div>
</body>