@using FHIR_UI.Models
@model FHIR_UI.Models.CommonViewModel
@{
    ViewData["Title"] = "Search";
}
<html>
<head>
    <title>тестик</title>
</head>
<body>
    <h2>Search</h2>
    <center>
        <table width="1000px">
            <tr height="500px">
                <td bgcolor="#EFEEFF" width="20px" valign="top">
                    @foreach (var v in Model.typesModel_.TypesAsArray_)
                    {
                                                <p> <a href = "Search?type=@v.ToString()"> *@v.ToString() </a> </p>
                    }
                </td>
                <td bgcolor="#F8FEFE" valign="top">
                    <form action="~/search" method="get">
                        @for (int i = 0; i < Model.searchModel_.pagesAmount_; ++i)
                        {
                                                        <a href = "Search?type=@Model.searchModel_.typeOfResource_&page=@(i + 1)" >@(i + 1) </a>
                        }
                    </form>
                    @{
                        if (Model.searchModel_.typeOfResource_ != null)
                        {
                                                <h2> type @Model.searchModel_.typeOfResource_ </h2>
                                                   <p> Found @Model.searchModel_.totalAmountOfItems_ items</p>
                                                <table border = "1" >
                                                <tr>
                                                <th> ID </th >
                                                <th> Action </th >
                                                </tr>
                                                @foreach (String r in Model.searchModel_.resultOnPage_)
                                                {
                                                    <tr>
                                                    <th> <p> @r </p> </th>
                                                    <th>
                                                    <a href = "Search/Read?type=@Model.searchModel_.typeOfResource_&id=@r" > Read </a>
                                                    <a href = "Search/Edit?type=@Model.searchModel_.typeOfResource_&id=@r" > Edit </a>
                                                    </th>
                                                    </tr>
                                                }
                                                </table>
                        }
                        else
                        {
                                                <p> Type is not set </p>
                        }
                    }
                </td>
            </tr>
        </table>
    </center>
</body>
</html>