@using FHIR_UI.Models
@model FHIR_UI.Models.SearchResultModel
@{
    ViewData["Title"] = "Search";
}

<h2>Search</h2>

<p>Choose the type of the resource to see all resources of this type</p>
 
 
           <form action="~/search" method="post">
               <fieldset>
                   @Html.LabelFor(m=>m.Type)
                   @Html.DropDownListFor(m => m.Type,
                                new SelectList(Enum.GetValues(typeof(TypeName))),
                                "Select Type")
                   @Html.ValidationMessageFor(m=> m.Type)
               </fieldset>
               <input  type="submit" value="Show" />
           </form>
    

    
<body>
    @{
        if (Model.Type != null)
        {
            <h2>type @Model.Type</h2>
            <table border="1">
                <tr>
                    <th>ID</th>
                    <th>Action</th>
                </tr>
                @foreach (String r in Model.ResourceResultList)
                {
                    <tr>
                     <th> <p>@r </p> </th>
                     <th>
                         <a href="Search/Read?type=@Model.Type&id=@r">Read</a>
                         <a href="Search/Edit?type=@Model.Type&id=@r">Edit</a>
                     </th>
                    </tr>
                }
            </table>
        }else
        {
           <p>Type is not set</p>
        }
     }
</body>