﻿@using FHIR_UI.Models
@model FHIR_UI.Models.JsonTextModel
@{
    ViewData["Title"] = "Json";
}
<h2>JSON file</h2>
<body>
    @{
        if (Model.jsonText_ != null)
        {
            <p> @Model.jsonText_ </p>
        }
        else
        {
            <p> JSON file is empty </p>
        }
    }
</body>