﻿@using FHIR_UI.Models
@model FHIR_UI.Models.JsonTextModel
@{
    ViewData["Title"] = "Json";
}
<h2>JSON file</h2>

<body>
    <div class="panel">
        <div class="panel-heading">
            <h3> Чтение ресурса </h3>
        </div>

        @using (Html.BeginForm())
        {
            <div class="panel-body">
                @Html.DisplayFor(m => m.JsonText_)
            </div>
            <div class="panel-footer">
                @Html.ActionLink("Back", "Index", null, "type="+Model.ResType_ ,new { @class = "btn btn-default" })
            </div>
        }
    </div>
</body>