@using FHIR_UI.Models
@model FHIR_UI.Models.SearchResultModel
@{
    ViewData["Title"] = "Woohoo";
}

<h2>Search</h2>



<script>
        function isEmail(int s) {
       s++;
          @Model.currentPage =s;
   }
</script>

<form action="~/search" method="get">
    @for (int i = 0; i < Model.pagesAmount; ++i)
    {
        <a href="Search/Woohoo?type=@Model.Type&page=@(i+1)">@(i + 1)</a>

    }
</form>
<body>
    @{
        if (Model.Type != null)
        {
            <h2>type @Model.Type</h2>
                <p> Found @Model._amount items</p>
                <table border="1">
                    <tr>
                        <th>ID</th>
                        <th>Action</th>
                    </tr>
                    @foreach (String r in Model.pages)
                {
                        <tr>
                            <th> <p>@r </p> </th>
                            <th>
                                <a href="Search/Read?type=@Model.Type&id=@r">Read</a>
                                <a href="Search/Edit?type=@Model.Type&id=@r">Edit</a>
                            </th>
                        </tr>
                    }
                </table>
                <a href="Search/Next">Next</a>
                <a href="Search/Previous">Previous</a>
        }
        else
        {
            <p>Type is not set</p>
        }
    }
</body>
